html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0;
    
    color: #fff;
}

.x-action-home-only,
.x-action-my-trees-only,
.x-action-ranking-only {
    display: none;
    transition: 0.5s;
}

.x-action-home .x-action-home-only {
    display: block;
}

.x-action-my-trees .x-action-my-trees-only {
    display: block;
}

.x-action-ranking .x-action-ranking-only {
    display: block;
}

.x-icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}
.x-t-green-text {
    color: #005b27 !important;
}

.x-t-green-background {
    background-color: #005b27 !important;
}

.x-t-orange-text {
    color: #ff8500 !important;
}


.x-t-orange-background {
    background-color: #ff8500 !important;
}

.x-t-blue-text {
    color: #4783bf !important;
}

.x-t-blue-background {
    background-color: #4783bf !important;
}

.esriViewPopup .gallery { 
    margin: 0 auto !important; 
}

#wrapper {
    width: 100%;
    min-width: 1024px;
    overflow: hidden;
    height: 100%;
}

#wrapper.x-static {
    width: 1024px;
    margin: 0 auto;
}

#nav {
    width: 100%;
    min-width: 1024px;
    height: 60px;
    background-color: #005b27;
    overflow: hidden;
}

#main-logo {
    float: left;
    height: 100%;
}

#main-logo img {
    height: 35px;
    margin-top: 12px;
    margin-left: 20px;
}

#account-wrapper {
    float: right;
}

#menu-account-info {
    display: none;    
    overflow: hidden;
    margin-right: 20px;
}

.x-logged-in #menu-account-info{
    display: block;
}

#menu-account-info .x-profile-pic {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    background-size: cover;
    
    background-repeat: no-repeat;
    background-image: url('/img/profile_pic.jpg');
    float: left;
}

#menu-account-info .x-profile-info {
    float: left;    
    margin-left: 15px;
    margin-top: 10px;
}

#menu-account-info .x-profile-info strong {
    display: inline;
}

.x-logged-in .x-login-button {
    display: none;
}

#main-container {
    height: calc(100% - 60px);
    overflow: hidden;
}

#main-left-column {
    height: 100%;
    width: 80px;
    background: #e5e5e5;
    float: left;
}

.x-action:first-child {
    margin-top: 50px;
}

.x-action {
    width: 100%;    
    margin-bottom: 30px;
    cursor: pointer;
}

.x-action .x-action-pic {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    background-color: #999;    
}

.x-action.x-active .x-action-pic {
    background-color: #4783bf;
}

.x-action .x-action-description {
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

#main-right-column {
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    overflow: hidden;
}

.x-row {
    overflow: hidden
}

#welcome-row {
    margin-top: 50px;
    height: 60px;
    overflow: hidden;
}

.x-intro {
    float: left;
}

.x-plant-button {
    float: right;
    overflow: hidden;
    padding: 10px;
    background-color: #005b27;
    
    cursor: pointer;
}

.x-plant-button .x-icon-plant {
    float: left;
    width: 23px;
    height: 23px;
    background-image: url(/img/icons/leaves.png);    
}

.x-plant-button .x-btn-text {
    font-size: 20px;
    float: left;
    font-weight: bold;
    margin-left: 10px;
}

.x-intro h1 {
    color: #333;
    margin: 0;
}

.x-intro h1 .x-t-green {
    color: #005b27;
}

.x-intro .x-slogan {
    color: #888;
    font-weight: bold;
    font-size: 18px;
}

#main-content-container {    
    margin: 20px 0;
    overflow: hidden;    
    position: relative;
    height: calc(100% - 200px);
}

#esri-map {    
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}

.x-action-my-trees #esri-map {
    width: calc(50% - 10px);
    float: left;
}

#map{ 
    margin: 0; 
    padding: 0; 
}

#my-trees-user-stats {    
    width: calc(50% - 10px);
    float: right;
    height: 100%;
}

#tree-legend {
    overflow: hidden;
    height: 68px;
    overflow: hidden;
}

#tree-legend .x-tree-legend-item {
    float: left;
    width: calc(100% / 4);
}

#tree-legend .x-tree-legend-item .x-icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
}

#tree-legend .x-tree-legend-item.x-stage-1 .x-icon {
    background-image: url(/img/icons/tree-stage-1.png);
}

#tree-legend .x-tree-legend-item.x-stage-2 .x-icon {
    background-image: url(/img/icons/tree-stage-2.png);
}


#tree-legend .x-tree-legend-item.x-stage-3 .x-icon {
    background-image: url(/img/icons/tree-stage-3.png);
}


#tree-legend .x-tree-legend-item.x-stage-4 .x-icon {
    background-image: url(/img/icons/tree-stage-4.png);
}

#tree-legend .x-tree-legend-item .x-legend-description {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #333;    
}


#user-congrats {    
    padding: 10px;
    width: 100%;
    height: calc(100% - 68px - 83px);
    background-color: #e5e5e5;
    color: #333;
    overflow: hidden;
    
    margin-top: 10px;
}

#user-congrats h2 {
    margin-top: 40px;
    font-size: 28px;
}

#user-congrats h2, #user-congrats .x-congrats-description {
    margin-left: 20px;
    margin-right: 20px;
}

#user-congrats .x-congrats-description {
    font-size: 22px;
}


#results-row {
    height: 40px;
    overflow: hidden;
}

.x-results {
    float: left;
    overflow: hidden;
}

.x-results .x-result-label {
    float: left;
}

.x-results .x-result-label h2{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.x-results .x-result-value {
    float: left;
    margin-left: 10px;
}

.x-results .x-result-value .x-sq-num {
    display: inline-block;
    margin: 0 3px;
    padding: 8px;
    background-color: #e5e5e5;
    
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.x-top-contrib-button {
    float: right;    
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

#my-trees-user-stats .x-plant-button{
    margin-top: 10px;    
    width: calc(100% - 20px); /* padding */
}

.x-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    
    background-color: rgba(0, 0, 0, 0.8);
}

.x-modal-background.x-active {
    display: table;
}

.x-modal-background .x-modal {
    display: table-cell;
    vertical-align: middle;
}

.x-modal-background .x-window {    
    margin: 0 auto;    
    width: 700px;
    overflow: hidden;
    background-color: #fff;
}

.x-map-drop {
    height: 300px;    
}

.x-window .x-win-title {
    width: 100%;
    padding: 15px 0;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.x-window .x-win-description {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.x-window .x-win-body {
    margin: 30px;
}

.x-window .x-win-main {
    overflow: hidden;
}

.x-window .x-steps {
    margin-top: 10px;
    text-align: center;
}

.x-window .x-steps .x-step {
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ccc;
    overflow: hidden;
}

.x-window .x-steps .x-step.x-active {
    background-color: #333;
}

.x-window .x-win-buttons {
    margin-top: 10px;
    text-align: center;
}

.x-window .x-btn {
    display: inline-block;
    padding: 15px 20px;
    background-color: #005b27; 
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    
    cursor: pointer;
}


.x-window .x-options {
    overflow: hidden;
}

.x-window .x-option {
    color: #333;
    overflow: hidden;
    padding: 10px;
}

.x-window .x-option.x-row-0 {
    background-color: #ddd;
}

.x-window .x-option.x-row-1 {
    background-color: #efefef;
}

.x-window .x-option .x-form-part {
    float: left;
    font-size: 20px;
}

.x-window .x-option .x-form-part .x-radio-value {
    display: inline-block;
    margin-left: 10px;
}

.x-window .x-option .x-explanation-part {
    float: right;
}